@import '../mixins';
.title {
	// display: inline-block;
	display:flex;
	justify-content: center;
	
	font-family: 'Poppins';
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-top: 4rem;
	margin-bottom: 1.5rem;
	color: var(--black-1);
	

	@include smallDeviceSize {
		font-size: 3rem;
	}
}
